

.about-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
    grid-gap: 1rem;
} 

.contact-form{
    box-sizing: border-box;
    max-width: 30rem;
    margin: 0 auto;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea {
  display: block;
  font: inherit;
  color: inherit;
}
